<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="tests/bootstrap.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true">
    <testsuites>
        <testsuite name="AllTests">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
        <testsuite name="console">
            <directory>tests/Console</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Analysers</directory>
            <directory suffix=".php">src/Lexer</directory>
            <directory suffix=".php">src/Result</directory>
            <directory suffix=".php">src/InformationProvider</directory>
            <directory suffix=".php">src/Console/Services</directory>
            <file>src/Analyser.php</file>
            <file>src/AnalyserAwareInterface.php</file>
            <file>src/AnalysisResult.php</file>
            <file>src/FileAnalyser.php</file>
            <file>src/StringAnalyser.php</file>
            <file>src/Console/Commands/PvraBaseCommand.php</file>
            <file>src/Console/Commands/FileCommand.php</file>
            <file>src/Console/Commands/DirCommand.php</file>
            <file>src/Console/helpers.php</file>
        </whitelist>
    </filter>
</phpunit>
